.location--chicago-theater{
  background-image: url("../img/mobile-chicago.png");
  background-repeat: no-repeat;
  margin-bottom: 110px;
}

.location--crown-fountain{
  background-image: url("../img/mobile-man.png");
  background-repeat: no-repeat;
  margin-bottom: 125px;
}

.location--navy-pier{
  background-image: url("../img/mobile-ferris-wheel.png");
  background-repeat: no-repeat;
  margin-bottom: 126px;
}

.location--buckingham-fountain{
  background-image: url("../img/fountain.png");
  background-repeat: no-repeat;
  margin-bottom: 110px;
}

.location--wrigley-field{
  background-image: url("../img/mobile-wrigley-field.png");
  background-repeat: no-repeat;
  margin-bottom: 127px;
}

.location--cloud-gate{
  background-image: url("../img/cloud-gate.png");
  background-repeat: no-repeat;
  margin-bottom: 126px;
}

.location--millenium-park{
  background-image: url("../img/mobile-millenium-park.png");
  background-repeat: no-repeat;
  margin-bottom: 126px;
}

.location--museum{
  background-image: url("../img/field-museum.png");
  background-repeat: no-repeat;
  margin-bottom: 153px;
}

.location--zoo{
  background-image: url("../img/tiger.png");
  background-repeat: no-repeat;
  margin-bottom: 126px;
}

.location--skydeck{
  background-image: url("../img/mobile-feet.png");
  background-repeat: no-repeat;
  margin-bottom: 110px;
}

@media (min-width: 650px){
  .location--chicago-theater{
    background-image: url("../img/chicago.png");
    margin-bottom: 0px;
  }
  
  .location--crown-fountain{
    background-image: url("../img/man.png");
    margin-bottom: 0px;
  }
  
  .location--navy-pier{
    background-image: url("../img/ferris-wheel.png");
    margin-bottom: 0px;
  }
  
  .location--buckingham-fountain{
    margin-bottom: 0px;
  }
  
  .location--wrigley-field{
    background-image: url("../img/wrigley-field.png");
    margin-bottom: 0px;
  }
  
  .location--cloud-gate{
    margin-bottom: 0px;
  }
  
  .location--millenium-park{
    background-image: url("../img/millenium-park.png");
    margin-bottom: 0px;
  }
  
  .location--museum{
    margin-bottom: 0px;
  }
  
  .location--zoo{
    margin-bottom: 0px;
  }

  .location--skydeck{
    background-image: url("../img/feet.png");
    margin-bottom: 0px;
  }
  
  .two-thirds {
    width: 66.66%;
    float: left;
  }

  .one-third {
    width: 33.33%;
    float:right;
  }

  .full-width {
    width: 100%;
    float: left;
  }
  
  .right--two-thirds{
    width: 66.66%;
    float: right;
  }
  
 .left--one-third{
    width: 33.33%;
    float: left;
  }
  
}