.location--chicago-theater{
  background-image: url("../img/mobile-chicago.png");
  background-repeat: no-repeat;
}

.location--crown-fountain{
  background-image: url("../img/mobile-man.png");
  background-repeat: no-repeat;
}

.location--navy-pier{
  background-image: url("../img/mobile-ferris-wheel.png");
  background-repeat: no-repeat;
}

.location--buckingham-fountain{
  background-image: url("../img/fountain.png");
  background-repeat: no-repeat;
}

.location--wrigley-field{
  background-image: url("../img/mobile-wrigley-field.png");
  background-repeat: no-repeat;
}

.location--cloud-gate{
  background-image: url("../img/cloud-gate.png");
  background-repeat: no-repeat;
}

.location--millenium-park{
  background-image: url("../img/mobile-millenium-park.png");
  background-repeat: no-repeat;
}

.location--museum{
  background-image: url("../img/field-museum.png");
  background-repeat: no-repeat;
}

.location--zoo{
  background-image: url("../img/tiger.png");
  background-repeat: no-repeat;
}

.location--skydeck{
  background-image: url("../img/mobile-feet.png");
  background-repeat: no-repeat;
}