body {
  overflow-x:hidden;
}

.switch-icon {
  width: 5%;
  position: relative;
  bottom: -291px;
  right: -301px;
  z-index: 10;
}

.location {
  height: 320px;
  margin-bottom: -21px;
}

.overlay {
 // display: block;
//  position: relative;
//  top: 323px;
//  left: 5px;
display: none;
}

