body {
  overflow-x:hidden;
}

.switch-icon {
  width: 5%;
  position: absolute;
  bottom: 69px;
  right: 0;
}

.location {
  height: 320px;
  margin-bottom: -21px;
}

.overlay {
  display: block;
  position: relative;
  top: 323px;
  left: 5px;
}